In [1]:
import pandas as pd
from pandas.io.json import json_normalize
import json

In [5]:
fn = '/net/nas2/cache/cityiq/objects/location/03/03e23a6ace01fc14a86ab250ce65b682/2018/10-PKOUT.json'

In [6]:
df = pd.read_json(fn, lines = False)
df.head()

,start_time,end_time,locationUid,event_type,events
0,2018-10-01 08:00:00,2018-11-01 08:00:00,03e23a6ace01fc14a86ab250ce65b682,PKOUT,{'locationUid': '03e23a6ace01fc14a86ab250ce65b...
1,2018-10-01 08:00:00,2018-11-01 08:00:00,03e23a6ace01fc14a86ab250ce65b682,PKOUT,{'locationUid': '03e23a6ace01fc14a86ab250ce65b...
2,2018-10-01 08:00:00,2018-11-01 08:00:00,03e23a6ace01fc14a86ab250ce65b682,PKOUT,{'locationUid': '03e23a6ace01fc14a86ab250ce65b...
3,2018-10-01 08:00:00,2018-11-01 08:00:00,03e23a6ace01fc14a86ab250ce65b682,PKOUT,{'locationUid': '03e23a6ace01fc14a86ab250ce65b...
4,2018-10-01 08:00:00,2018-11-01 08:00:00,03e23a6ace01fc14a86ab250ce65b682,PKOUT,{'locationUid': '03e23a6ace01fc14a86ab250ce65b...

In [7]:
with open(fn) as f:
    d =json_normalize(json.load(f)['events'])
    
d.iloc[0]

assetUid                                       67a04f20-3474-4dfc-b18e-468f3e1d45cc
eventType                                                                     PKOUT
locationUid                                        03e23a6ace01fc14a86ab250ce65b682
properties.geoCoordinates         32.722820825525126:-117.16923453486577,32.7227...
properties.imageAssetUid                       801be9fc-7bb7-40e7-b810-1d26ea617e89
properties.objectUid                                                     1538385026
properties.orgPixelCoordinates        177.0:62.0,177.0:103.0,255.0:103.0,255.0:62.0
properties.pixelCoordinates             147.0:43.0,131.0:77.0,165.0:48.0,182.0:13.0
timestamp                                                             1538413022637
Name: 0, dtype: object